{% extends 'layout/app.html' %} {% block body %}
<div class="matrix"></div>
<div class="picker">
	<p>Color</p>
	<div class="chooser">
		<div class="color" data-color="255,0,0"></div>
		<div class="color" data-color="0,255,0"></div>
		<div class="color" data-color="0,0,255"></div>
		<div class="color" data-color="255,255,0"></div>
		<div class="color" data-color="0,255,255"></div>
		<div class="color" data-color="255,0,255"></div>
		<img src="/static/images/edit.svg" alt="edit" />
		<img src="/static/images/eraser.svg" alt="eraser" />
		<input type="color" />
	</div>
</div>
{% endblock %} {% block additional_scripts %}
<script>
	fetch(`/api/effects/${2}`, {method: "POST"})
	const hexToRgb = (hex) =>
		hex
			.replace(
				/^#?([a-f\d])([a-f\d])([a-f\d])$/i,
				(m, r, g, b) => "#" + r + r + g + g + b + b
			)
			.substring(1)
			.match(/.{2}/g)
			.map((x) => parseInt(x, 16));

	let currentColor = null;
	const editButton = document.querySelector(".chooser > img:first-of-type");
	const deleteButton = document.querySelector(".chooser > img:last-of-type");
	const leds = Array.from(document.querySelectorAll(".matrix .led"))
	const colorChooser = document.querySelector(
		'.chooser > input[type="color"]'
	);
	const colorButtons = Array.from(
		document.querySelectorAll(".chooser > .color")
	);
	colorButtons.forEach((item) => {
		const rgb = item.dataset.color.split(",");
		item.style.backgroundColor = `rgb(${item.dataset.color})`;
		item.addEventListener("click", () => {
			currentColor = rgb.map((item) => parseInt(item));
			colorButtons.forEach((item) => item.classList.remove("active"));
			editButton.classList.remove("active");
			item.classList.add("active");
		});
	});

	colorChooser.addEventListener("change", (e) => {
		editButton.style.fill = e.target.value;
		currentColor = hexToRgb(e.target.value);
	});

	editButton.addEventListener("click", () => {
		colorChooser.click();
		colorButtons.forEach((item) => item.classList.remove("active"));
		editButton.classList.add("active");
	});
	deleteButton.addEventListener("click", () => {
		currentColor = "delete"
	})
	leds.forEach(led => {
		led.addEventListener("click", async () => {
			if (!currentColor) return;
			let index = leds.indexOf(led)
			if ((parseInt(index / 8) + 1) % 2 == 0) {
				index = (parseInt(index / 8) * 8 + 8 - (index % 8)) - 1	
			}

			if (currentColor == "delete") {
				const response = await fetch(`/api/leds/${index}`, {
					method: "DELETE"
				})
				return;
			}
			
			const response = await fetch(`/api/leds/${index}`, {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					color: currentColor.join(",")
				})
			})
		})
	})
</script>
{% endblock %}
